<div class="row">
	<div class="col-xs-3">

		<div class="panel panel-default">
			<div class="panel-image hide-panel-body">
				<%= image_tag (current_user.cover_url), class:"panel-image-preview" %>
			</div>
			<div class="panel-footer">
				<div class="row">
					<div class="col-sm-2">
						<div class="header-avatar-post-content" style="background-image:url(<%= current_user.avatar_url %>);">
						</div><br>
					</div>
					<div class="col-sm-10">

						<h4 style="text-align: center;"><a href="/user/<%= current_user.username %>"><%= current_user.name %> <%= current_user.surname %></a></h4>
					</div>
					<div class="col-sm-12" style="margin-top: 5px;">
						<div class="col-sm-6" style="font-size: 80%; opacity: 0.7; text-align: center;">FOLLOWERS<br>
							<h6 style="color: #0084B4; font-size: 200%; opacity: 1.2; text-align: center;"><%= current_user.followers.count %></h6>
						</div>
						<div class="col-sm-6" style="font-size: 80%; opacity: 0.7; text-align: center;">FOLLOWING<br>
							<h6 style="color: #0084B4; font-size: 200%; opacity: 1.2; text-align: center;"><%= current_user.following.count %></h6>
						</div>
					<div class="col-sm-12" style="margin-top: 10px; text-align: center;">
						<p><%= current_user.status %></p>
					</div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-body">
				<h5 style="color: grey; font-size: 125%;">Who to Follow</h5>
				<% for @u in @toFollow do %>
					<p style="font-weight: bold; opacity: 0.85;"><a href="/user/<%= @u.username %>"><%= @u.username %></a></p>
				<% end %>
			</div>
		</div>

	</div>
	<div class="col-xs-6">
		<%= render '/components/post_form' %><br><br>
		<% for @p in @posts %>
		<div class="panel panel-default post-panel">
			<div class="panel-body row">
				<div class="col-sm-1">
					<div class="header-avatar-post-content" style="background-image:url(<%= User.find(@p.user_id).avatar_url %>);">
					</div>
				</div>
				<div class="col-sm-11">
					<p class="post-title"><span class="post-owner"><a href="/user/<%= User.find(@p.user_id).username %>"><%= User.find(@p.user_id).name %> <%= User.find(@p.user_id).surname %></span></a> <span class="post-creation"> @<%= User.find(@p.user_id).username %> - <%= @p.created_at.to_formatted_s(:short) %></span></p>
					<p class="post-content"><%= @p.content %></p>
				</div>
				<div class="col-sm-12">
					<p class="post-links"></p>
						<span class="glyphicon glyphicon-heart g-links" aria-hidden="true"></span>
						<span class="glyphicon glyphicon-retweet g-links" aria-hidden="true"></span>
						<% if current_user.username != User.find(@p.user_id).username %>
						<span class="glyphicon glyphicon-trash g-links" aria-hidden="true"></span>	
						<% else %>
						<%= link_to post_path(@p), method: :delete, data: { confirm: 'Are you sure?' } do %>
						<span class="glyphicon glyphicon-trash g-links" aria-hidden="true"></span>
						<% end %>
						<% end %>
						<span class="glyphicon glyphicon-option-horizontal g-links" aria-hidden="true"></span>
						<a href="">View Conversation</a>
				</div>

			</div>
		</div>
		<% end %>
		<div class="panel panel-default post-panel">
			<div class="panel-body row">
				<div class="col-sm-12">
				<center><a href="#top"><p class="opacity: .7;">Back to Top <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></p></a></center>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="panel panel-default">
			<div class="panel-body">
				<h5 style="color: grey; font-size: 125%;">trends</h5>
					<a href="">#Trend #1</a><br>
						<span style="color: grey;">0k Posts</span><br><br>
					<a href="">#Trend #2</a><br>
						<span style="color: grey;">0k Posts</span><br><br>
					<a href="">#Trend #3</a><br>
						<span style="color: grey;">0k Posts</span><br><br>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-body">
				<p style="opacity: 0.5; font-size: 90%;">@2016 BackTrakker  |  About  |  Help  |  Terms  |  Privacy  |  Cookies  |  Ads  </p>
			</div>
		</div>
	</div>
</div>
